<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/main.css" />
    <title>Info sur les fêtes</title>
</head>
<body>

    <table>
        <tr>
            <td> <a href="index"> <img src="static/fete.jpg" widht="1000" height="100"></a></td>
            <td><a href="index"> Accueil</a> </td>
            <td><a href="add"> Ajouter une fête</a> </td>
        </tr>
    </table>

    <img src="static/halloween.png" width="150" height="150">
    <img src="static/nicolas.png" width="150" height="150">
    <img src="static/noel.jpg" width="150" height="150">
    <img src="static/coeur.jpg" width="150" height="150">
    <img src="static/armistice.jpg" width="150" height="150">
    <img src="static/mouton.jpg" width="150" height="150">
    <img src="static/jul.jpg" width="150" height="150">

    <table>
        <tr>
            <td><h1><b>{{feast}}</b></h1></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><h2><b>Date:       </b></h2> <p>{{date}}</p></td>
        </tr>
        <tr>
            <td><h2><b>Tradition:      </b></h2> <p>{{tradition}}</p></td>
        </tr>
        <tr>
            <td><h2><b>Origins:        </b></h2> <p>{{origins}}</p></td>
        </tr>
    </table>

</body>
</html>