<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/main.css"/>
    <title>Title</title>
</head>
<body>
  <table>
            <tr>
                <td><a href="index"> <img src="static/fete.jpg" widht="1000" height="100"> </a> </td>
                <td><a href="index"> Accueil</a> </td>
                <td><a href="add"> Ajouter une fête </a> </td>
            </tr>
  </table>

        <h1> DECOUVREZ TOUTES LES FETES DE L'ANNEE </h1>

        <p>Découvrez ou retrouvez fêtes de l'année, leur date, leur origine et leur tradition, <br> afin d'en savoir plus sur elles et s'y préparer à l'avance pour mieux les fêter.<br> Vous pouvez aussi ajouter des fêtes qui vous tienne à coeur,<br> tel que votre anniversaire ou ceux de vos proches ;)
        </p>

        <img src="static/halloween.png" width="150" height="150">
        <img src="static/nicolas.png" width="150" height="150">
        <img src="static/noel.jpg" width="150" height="150">
        <img src="static/coeur.jpg" width="150" height="150">
        <img src="static/armistice.jpg" width="150" height="150">
        <img src="static/mouton.jpg" width="150" height="150">
        <img src="static/jul.jpg" width="150" height="150">

        <br><br>

        <h1> LES FETES </h1>

        <h2>{{feasts}}</h2>

        <p><a href="add"> Ajouter une fête</a></p>

</body>
</html>